/* CSS Document */

*
{
	font-family: Georgia, Times, serif;
}

body
{
	font-size: 12px;
	background: url(../images/back.jpg) no-repeat center;
}

html, body, div, /*span*/, applet, object, iframe,
/*h1, h2, h3,*/ h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: italic;
	vertical-align: baseline;
	color: #626B90;
}

h1 {font-size: 18px; font-weight: bold; font-style: italic; color: #626B90;}
h2 {font-size: 16px; font-weight: bold; font-style: italic; color: #626B90;}
h3 {font-size: 12px; font-weight: bold; font-style: italic; color: #666666;}

a:link {color:#626B90;}
a:visited {color:#626B90;}
a:hover {color:#626B90;}
a:active {color:#626B90;}

p.small {font-size: 11px; font-style: italic; color: #666666;}
p.small a {font-size: 11px; font-style: italic; color: #666666;}

/* ----------- STRUCTURE ----------- */

#page
{
	margin: 0 auto;
	width: 780px;
}

/* ----------- NAV ----------- */

#nav
{
	width: 780px;
	height: 174px;
	background: url(../images/nav.jpg) no-repeat center;
}

.home {margin: 100px 0 0 85px;}
.home > a {display: block; width:37px; height:25px;}
.home > a.selected{background: url(../images/home-ovr.jpg) no-repeat; width:37px; height:25px;}
.home > a:hover {background: url(../images/home-ovr.jpg) no-repeat; width:37px; height:25px;}

.hotel {margin: 76px 0 0 144px;}
.hotel > a {display: block; width:62px; height:36px;}
.hotel > a.selected {background: url(../images/hotel-ovr.jpg) no-repeat; width:62px; height:36px;}
.hotel > a:hover {background: url(../images/hotel-ovr.jpg) no-repeat; width:62px; height:36px;}

.about {margin: 57px 0 0 227px;}
.about > a {display: block; width:64px; height:31px;}
.about > a.selected {background: url(../images/about-ovr.jpg) no-repeat; width:64px; height:31px;}
.about > a:hover {background: url(../images/about-ovr.jpg) no-repeat; width:64px; height:31px;}

.weddings {margin: 63px 0 0 415px;}
.weddings > a {display: block; width:64px; height:28px;}
.weddings > a.selected {background: url(../images/weddings-ovr.jpg) no-repeat; width:64px; height:28px;}
.weddings > a:hover {background: url(../images/weddings-ovr.jpg) no-repeat; width:64px; height:28px;}

.events {margin: 77px 0 0 498px;}
.events > a {display: block; width:42px; height:31px;}
.events > a.selected {background: url(../images/events-ovr.jpg) no-repeat; width:42px; height:31px;}
.events > a:hover {background: url(../images/events-ovr.jpg) no-repeat; width:42px; height:31px;}

.contact {margin: 103px 0 0 559px;}
.contact > a {display: block; width:54px; height:23px;}
.contact > a.selected {background: url(../images/contact-ovr.jpg) no-repeat; width:54px; height:23px;}
.contact > a:hover {background: url(../images/contact-ovr.jpg) no-repeat; width:54px; height:23px;}

li {
display: block;
position: absolute;
list-style: none;
margin: 0;
padding: 0;
}

/* ----------- NAV-SUB1 ----------- */

#sub1
{
	width: 780px;
	height: 174px;
	background: url(../images/nav-sub1.jpg) no-repeat center;
}

.history {margin: 122px 0 0 278px;}
.history > a {display: block; width:49px; height:24px;}
.history > a.selected {background: url(../images/history-ovr.jpg) no-repeat; width:49px; height:24px;}
.history > a:hover {background: url(../images/history-ovr.jpg) no-repeat; width:49px; height:24px;}

.val {margin: 122px 0 0 386px;}
.val > a {display: block; width:23px; height:24px;}
.val > a.selected {background: url(../images/val-ovr.jpg) no-repeat; width:23px; height:24px;}
.val > a:hover {background: url(../images/val-ovr.jpg) no-repeat; width:23px; height:24px;}

/* ----------- NAV-SUB2 ----------- */

#sub2
{
	width: 780px;
	height: 174px;
	background: url(../images/nav-sub2.jpg) no-repeat center;
}

.accomodation {margin: 110px 0 0 182px;}
.accomodation > a {display: block; width:82px; height:32px;}
.accomodation > a.selected {background: url(../images/accomodation-ovr.jpg) no-repeat; width:82px; height:32px;}
.accomodation > a:hover {background: url(../images/accomodation-ovr.jpg) no-repeat; width:82px; height:32px;}

.bar {margin: 119px 0 0 279px;}
.bar > a {display: block; width:23px; height:26px;}
.bar > a.selected {background: url(../images/bar-ovr.jpg) no-repeat; width:23px; height:26px;}
.bar > a:hover {background: url(../images/bar-ovr.jpg) no-repeat; width:23px; height:26px;}

.backpackers {margin: 132px 0 0 319px;}
.backpackers > a {display: block; width:75px; height:32px;}
.backpackers > a.selected {background: url(../images/backpack-ovr.jpg) no-repeat; width:75px; height:32px;}
.backpackers > a:hover {background: url(../images/backpack-ovr.jpg) no-repeat; width:75px; height:32px;}

.rates {margin: 119px 0 0 409px;}
.rates > a {display: block; width:34px; height:27px;}
.rates > a.selected {background: url(../images/rates-ovr.jpg) no-repeat; width:34px; height:27px;}
.rates > a:hover {background: url(../images/rates-ovr.jpg) no-repeat; width:34px; height:27px;}

.hosts {margin: 116px 0 0 461px;}
.hosts > a {display: block; width:61px; height:31px;}
.hosts > a.selected {background: url(../images/hosts-ovr.jpg) no-repeat; width:61px; height:31px;}
.hosts > a:hover {background: url(../images/hosts-ovr.jpg) no-repeat; width:61px; height:31px;}

/* ----------- MAIN-IMG ----------- */

#main-img
{
	width: 780px;
	height: 340px;
}

/* ----------- CONTENT ----------- */

#content
{
	width: 760px;
	padding: 10px;
	float: left;
	font-style: italic;
	color: #626B90;
}

/* ----------- CONTACT-AREA ----------- */

#contact-area {
	width: 600px;
	margin-top: 25px;
}


#contact-area input, 
#contact-area textarea {
	padding: 5px;
	width: 450px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
}

#contact-area textarea {
	height: 80px;
}


#contact-area textarea:focus, 
#contact-area input:focus {
	border: 1px solid #626B90;
}


#contact-area input.submit-button {
	width: 50px;
	float: right;

}

label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 60px;
	padding-top: 5px;
}

/* ----------- FOOTER ----------- */

#footer
{
	width: 760px;
	padding: 10px;
	height: 50px;
	font-size: 11px;
	font-style: italic;
	float: left;
	margin: auto;
}

#footer  p
{
	margin-left: 0;
}

#footer  p  a
{
	color: #626b90;
	text-decoration: underline;
}

#footer  p,
#footer  a:visited,
#footer  a:hover,
#footer  a:active
{
	color: #626b90;
	text-decoration: none;
}

#footer p.links
{
	margin-left: 580px;
	margin-top: -72px;
}

.facebook {margin: -65px 0 0 577px;}
.facebook > a {display: block; background: url(../images/facebook.jpg) no-repeat; width:52px; height:27px;}
.facebook > a:hover {background: url(../images/facebook-ovr.jpg) no-repeat; width:52px; height:27px;}

.omdraai {margin: -63px 0 0 648px;}
.omdraai > a {display: block; background: url(../images/omdraai.jpg) no-repeat; width:52px; height:27px;}
.omdraai > a:hover {background: url(../images/omdraai-ovr.jpg) no-repeat; width:52px; height:27px;}

#footer  p.nicework
{
	margin-left: 625px;
	margin-top: -12px;
	font-size: 10px;
}

img#loading
{
	display: none;
}